<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hjarm_golden">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import hjarm_golden urdf file -->
    <xacro:include filename="$(find hjarm_golden)/urdf/hjarm_golden.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="hjarm_golden.ros2_control.xacro" />


    <xacro:hjarm_golden_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>
<!-- 
    <xacro:hjarm_golden_ros2_control name="GazeboSystem" initial_positions_file="$(arg initial_positions_file)"/>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        </plugin>
    </gazebo> -->

</robot>
